section{
	width: 100%;
	height: 40px;
	background: rosybrown;
	position: relative;
	overflow: hidden;
}
#box{
	width: 100%;
	height: 80px;
	position: absolute;
	left:0;
	top: 0;
}
#box a{
	line-height: 40px;
	font-size:14px;
	font-weight: normal;
	color: #fff !important;
}
#box1{
	width: 100%;
	height: 40px;
	display: flex;
	background-color:rosybrown;
}
#box2{
	width: 100%;
	height: 40px;
	display: flex;
}
.w20{
	width: 20%;
	text-align: center;
}
.w30{
	width: 30%;
}
.w50{
	width: 50%;
}
a{
	text-decoration: none;
}